.App {
  text-align: center;
}

#credits {
  text-align: end;
  padding-right: 10px;
  margin-bottom: -40px;
}

a:visited {
   color: #0000EE;
}

#self_tag {
  margin-bottom: -10px;
}

@media screen and (max-width: 1024px) {
  #credits {
  margin-bottom: -10px;
  }
}